<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h3>Lista de personas</h3>
            <form action="listaPersonas" method="post">
                <input name="accion" type="hidden" id="accion" />
                <div class="row">
                    <div class="from-group col-2">
                        <label >Nombre</label>
                        <input id="name" class="form-control" name="nombre"/>
                    </div>
                    <div class="col-1 pt-4">
                        <input type="submit" value="Añadir" onclick="enviarFormulario('add')" class="btn btn-primary "/>        
                    </div>   
                    <div class="col-1 pt-4">
                        <input type="button" value="Borrar" onclick="confirmar()" class="btn btn-danger "/>
                    </div>
                    <div class="col-3 pt-5">
                        
                    </div>
                </div>
            </form>
            <hr/>
            <table class="table table-striped">
                <tr>
                    <th>Nombre</th>
                </tr>
                <tr th:each="per:${listaNombres}">
                    <td th:text="${per}"></td>
                </tr>
            </table>
        </div>
        

        <!-- La solución optima es poner los scripts al final -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script>
            function enviarFormulario(valor){
                   $("#accion").val(valor);
                   $("form").submit();
            }
            function confirmar(){
                name = $("#name").val();
                bootbox.confirm({                
                    message:"Desea borrar a " + name +"?",
                    callback:function(result){
                        if (result) {
                            enviarFormulario("del");
                        }
                    }
                });
                
            }
        </script>
    </body>
</html>