<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="container">
            <h1>Mostrar Disco Duro</h1>
            <br>
            <span th:each="frag,iter:${dirFrag}"> 
              <!--  <a th:if="${iter.size != iter.count}" th:text="${frag}" th:href="${frag}" style="text-decoration: none; font-size: 24px"></a>
                <i th:if="${iter.size != iter.count}" class="fas fa-chevron-right"></i> 
                <a th:if="${iter.size == 1 && iter.count == 1}" th:text="C" th:href="${frag}" style="text-decoration: none; font-size: 24px"></a>
                <i th:if="${iter.size == 1 && iter.count == 1}" class="fas fa-chevron-right"></i>  -->
              
                <a th:text="${frag}" th:href="@{/ejercicio10/ver(ruta=${urlFrag})}" style="text-decoration: none; font-size: 24px"></a>
                <i class="fas fa-chevron-right"></i> 
            </span>
            <br><br>
            <div>
               <a th:text="${currentPath}" th:href="${currentPath}" style="text-decoration: none; font-size: 12px"></a>
            </div>
            <br>
            <div th:if="${error != null}">
                <a th:text="${dir}" th:href="${dir}" style="text-decoration: none; font-size: 24px"></a>
                </br></br>
                <span>Error al visualizar el directorio</span>
            </div>
            <table class="table table-striped">
                <tr th:each="dir:${directorio}">
                    <td>
                        <i class="far fa-folder"></i>  
                        <a th:text="${dir}" th:href="@{/ejercicio10/ver(ruta=${currentPath+ '/' +dir})}" style="text-decoration: none"></a>
                    </td>
                </tr>
                <tr th:each="fichero:${ficheros}">
                    <td>
                        <i class="far fa-file"></i>  
                        <a th:text="${fichero}" th:href="@{/ejercicio10/ver(ruta=${currentPath+ '/' +fichero})}" style="text-decoration: none"></a> 
                        <a th:href="@{/ejercicio10/descargar(fichero=${currentPath+ '/' +fichero},nombre=${fichero})}"><i class="fas fa-download px-5" style="color:#0d6efd; float: right"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
