<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Directorios y Archivos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />

        <style>
            .btn-primary{
                margin: 10px;
            }
        </style>
    </head>
    
    <body>
        <a th:href="@{/ejercicio10/ver(ruta=${padre})}" class="btn btn-primary" type="button">Atrás</a>
        <table class="table table-striped">
            <tr>
                <th>Disco C</th>
            </tr>
            <tr th:each='fichero : ${directorios}'>
                <td><a th:text='${fichero}' th:if="${fichero.isDirectory}" th:href="@{/ejercicio10/ver(ruta=${fichero.absolutePath})}" class="far fa-folder"></a>
                    <a th:text='${fichero}' th:if="${!fichero.isDirectory}" th:href="@{/ejercicio10/descarga(ruta=${fichero.absolutePath})}" class="fas fa-file"></a>
                </td>
            </tr>
        </table>
    </body>
</html>