<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            
            <a th:if="${Ruta!=null}" th:text="BACK" th:href="@{/ejercicio10/archivos(path=${Ruta})}"></a>
            <hr th:if="${Ruta!=null}"/>
            <div th:each="fichero:${Nombres}">
                <a th:if="${fichero.directorio}" th:text="${'*'+fichero.nombre}"  th:href="@{/ejercicio10/archivos(path=${fichero.rutaAbsoluta})}"></a>
                <a th:if="${!fichero.directorio}" th:text="${fichero.nombre}"></a>
            </div>
        </div>
    </body>
</html>
