<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ej10 Mostrar Disco Duro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <tr>
                <td><a th:href="@{/ej10/lista(ruta=${padre})}">Volver</a></td>
            </tr>
            <tr th:each="f:${ficheros}">
                <td>
                    <a th:if="${f.isDirectory}" th:href="@{/ej10/lista(ruta=${f})}" th:text="${f.getName}"></a>
                    <a th:if="${!f.isDirectory}" th:href="@{/ej10/descarga(ruta=${f})}" th:text="${f.getName}"></a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>