<html xmlns:th="https://www.thymeleaf.org"
      th:replace="/ej10/layout::reemplazo( ~{::body}, ~{::misscripts}, ~{::misestilos})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <misestilos>
        <style>
        #cabecera {
            background-color: blue;
            color: white;
        }
        .directorio {
            color: mediumaquamarine;
            font-weight: 700;
        }
        </style>
    </misestilos>
</head>
<body>
    <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th  id="cabecera">
                    <span th:text="${actual}"/>
                </th>
            </tr>
            <tr>
                <th>
                    <span th:if="${ruta != null}">
                        <a th:href="@{listado(ruta=${ruta})}"> volver <span th:text="${ruta}"/></a>
                    </span>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ruta:${lista}">
                <td><a class="directorio" th:if="${ruta.esDirectorio}" th:href="@{listado(ruta=${ruta.ruta + '/' + ruta.fichero})}">Directorio <span th:text="${ruta.fichero}"/></a>
                    <!--<span th:if="${ruta.esDirectorio == false}" th:text="${ruta.fichero}"/> -->
                    <a th:if="${ruta.esDirectorio == false}" th:href="@{descarga(fichero=${ruta.ruta + '/' + ruta.fichero},name=${ruta.fichero})}" th:text="${ruta.fichero}"></a>
                </td>
            </tr> 
        </tbody>
    </table>
    </div>
</body>
<misscripts>

</misscripts>
</html>
