<!DOCTYPE html>
<html>
<head>
<style>
table{
border:2px solid black;
}</style>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

</head>
<body>
	<table class="table table-striped">
		<tr>
			<th>Archivos</th>
		</tr>
		<tr th:each="listado:${Ficheros}">
			<td th:if="${listado.directory}"><a th:text="${listado.name}" th:href="${verDirectorios(ruta=${listado.absolutePath})}"></a></td>
	
		</tr>
		
	
		
	</table>
</body>
</html>