<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<title>Insertar imagen</title>
</head>
<body>
<div class="container">
	
		<h3>Insertar imagen</h3>
		<form action="save" id="formulario" method="post"
			th:object="${imagen}" class="form-group">
			<div class="form-row">
				<div>
					<input type="text" class="form-control"
						th:field="*{id}" hidden>
				</div>
				<div th:if="${id > 0}">
					<input type="date" class="form-control"
						th:field="*{fechaHoraFichero}" th:text="${fechaHoraFichero}" disabled>
				</div>
				<div class="form-group col-md-6">
					<label>URL:</label> <input type="url" class="form-control"
						th:field="*{url}">
				</div>
				<div class="form-group col-md-6">
					<label>Tipo de imagen:</label>
					<select th:field="*{tipoImagen}">
  						<option value="Foto">Foto</option>
  						<option value="Vector">Vector</option>
  						<option value="Ilustracion">Ilustracion</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Orientacion:</label>
					 <select th:field="*{orientacion}">
  						<option value="Horizontal">Horizontal</option>
  						<option value="Vertical">Vertical</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label>Contenido:</label>					 
					<select th:field="*{contenido}">
  						<option value="Con personas">Con personas</option>
  						<option value="Sin personas">Sin personas</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Categoria:</label> 					 
					<select th:field="*{categoria}">
  						<option value="Paisajismo">Paisajismo</option>
  						<option value="Foto personal">Foto personal</option>
  						<option value="Captura de pantalla">Captura de pantalla</option>
  						<option value="Caricatura">Caricatura</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label>Uso:</label> 					 
					<select th:field="*{uso}">
  						<option value="Uso comercial">Uso comercial</option>
  						<option value="Uso no comercial">Uso no comercial</option>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label style="display: flex; flex-direction: column;">Descripcion:</label>
					<textarea class="form-control" form="formulario"
					th:field="*{descripcion}" rows="4"></textarea>
				</div>
			</div>

			</br>	

			<button type="submit" class="btn btn-primary">Agregar imagen</button>
			<a th:if="${id > 0}" th:href="@{/ejercicio9/delete/{id}(id=${id})}"
				class="btn btn-danger">Borrar</a>
			<a class="btn btn-secondary" th:href="@{http://localhost:8090/ejercicio9}">Cancelar</a>
		</form>
	</div>

</body>
</html>