<html xmlns:th="https://www.thymeleaf.org">
    <head >
        <title>Subir CSV</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.css">


    </head>
    <body> 
        <div class="container m-3">
            <form action="/universidad/subir"  method="post"  enctype="multipart/form-data" > 
                <div class="row form-group ">

                    <div class="col-4">
                        <div class="input-group">
                            <input type="file" name="fichero" class="form-control" >
                            <input type="submit" class="btn btn-outline-primary" value="Enviar" >
                        </div>
                    </div>
                </div>
            </form>
        </div>

     


        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>


       
    </body>

</html>
