<html xmlns:th="https://www.thymeleaf.org"
        th:replace="ej13/layout::plantilla( ~{::body})">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="registroFacturas" class="row justify-content-center ">
            <form action="/ejercicio13/guardarFactura" th:object="${factura}" method="post">
                <div class="form-group row">
                    <div class="col-6">
                        <label for="url">Nº de Factura</label>
                        <input readonly th:field="*{idFactura}" class="form-control text-right" type="text" />
                    </div>
                    <div class="col-6">
                        <label for="fecha">Fecha</label>
                        <input th:value="${#dates.format(factura.fecha, 'dd/MM/yyyy')}" name="fecha" type="text" class="form-control text-right">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="nombre">Nombre</label>
                        <input class="form-control" th:field="*{nombre}" type="text" required />
                    </div>
                    <div class="col-6">
                        <label for="direccion">Direccion</label>
                        <input class="form-control" th:field="*{direccion}" type="text" required />
                    </div>
                    
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="nif">NIF</label>
                        <input class="form-control" th:field="*{nif}" type="text" required />
                    </div>
                    <div class="col-4">
                        <input class="btn btn-success" type="submit" value="Guardar factura" />
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
