<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    </head>
    <body class="">
       <!-- <div class="container">
            <table class="table table-bordered table-striped text-center">
                <tr class="table-info">
                    <th>Nº Factura</th>
                    <th>Nombre de la empresa</th>
                    <th>Dirección de la empresa</th>
                    <th>NIF de la empresa</th>
                    <th>Fecha de la Factura</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td th:text="${factura.id}"></td>
                    <td th:text="${factura.nombre}"></td>
                    <td th:text="${factura.direccion}"></td>
                    <td th:text="${factura.nif}"></td>
                    <td th:text="${#dates.format(factura.fecha, 'dd/MM/yyyy')}"></td>
                    <td>
                        <!-- <a th:href="@{editarPersona(id=${per.id})}">Ver Detalles de la Factura</a> 
                        <a th:href="@{detalles(factura=${factura.id})}">Ver Detalles de la Factura</a>--><!--
                    </td>
                </tr>
                <tr th:each="det : ${factura.detallesFactura}">
                    <td th:text="${det.descripcion}"></td>
                    <td th:text="${det.importe}"></td>
                </tr>
            </table>

        </div> -->



        <div class="container">
             <a class=" my-3 py-4 btn btn-outline-info w-100" href="facturas" >Volver al listado de Facturas</a>
            <div class="card">
                <div class="card-header">
                    <h3 class="float-right">Fecha de la factura : 
                    <strong th:text="${#dates.format(factura.fecha, 'dd/MM/yyyy')}"></strong> </h3>
                    <h3 class="float-left">Factura de la empresa: <strong th:text="${factura.nombre}"> </strong ></h3>

                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-8 ">
                            <div>
                                <label class="col-form-label">Nº de factura:</label>
                                <input th:value="${factura.id}" class="form-control" type="number">
                            </div>
                            <div >
                                <label class="col-form-label">Fecha:</label>
                                <input th:value="${#dates.format(factura.fecha, 'yyyy-MM-dd')}" class="form-control" type="date">
                            </div>
                            <div >
                                <label class="col-form-label">Nombre:</label>
                                <input th:value="${factura.nombre}" class="form-control" type="text">
                            </div>
                            <div >
                                <label class="col-form-label">Dirección:</label>
                                <input th:value="${factura.direccion}" class="form-control" type="text">
                            </div>
                            <div >
                                <label class="col-form-label">NIT:</label>
                                <input th:value="${factura.nif}" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="col-sm-4">

                            <div class="col-form-label h-50 w-100 ml-auto">
                                <button class="btn btn-primary h-100 w-100">Grabar factura</button>
                            </div>
                            <div class="col-form-label h-50 w-100 ml-auto">
                                <button class="btn btn-danger h-100 w-100">Borrar factura</button>
                            </div>
                        </div>
                    </div>



                </div>



            </div>


            <div class="table-responsive-sm">
                <table class="table table-striped text-center table-bordered">
                    <thead>
                        <tr class="">
                            <th class="center">Cantidad</th>
                            <th>Descripcion</th>
                            <th class="right">Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr th:each="det,cont : ${factura.detallesFactura}">
                    <td class="center" th:text="${cont.index+1}"></td>
                    <td class="left strong" th:text="${det.descripcion}"></td>
                    <td class="right" th:text="${det.importe}"></td>
                </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="row">

                <div class="col-sm-8 ml-auto">
                    <table class="table table-clear ">
                        <tbody>
                            <tr >
                                <td class="left text-right">
                                    <strong>Total</strong>
                                </td>
                                <td class="right text-center">
                                    <strong th:text="${importeTotal}"></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
</body>
</html>
