<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/ej13/layout::reemplazo( ~{::body}, ~{::misscripts}, ~{::misestilos})">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <misestilos>
        
    </misestilos>
    </head>
    <body>
                <form method="post" th:object="${facturaLinea}">
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:name="facturasId" th:value="${factura.id}"/>
                    <div>
                        <label for="cantidad">Cantidad</label>
                        <input type="number" th:field="*{cantidad}" />
                    </div>
                    <div>
                        <label for="descripcion">Descripcion</label>
                        <input type="text" th:field="*{descripcion}"/>
                    </div>
                    <div>
                        <label for="importe">importe</label>
                        <input type="text" th:field="*{importe}"/>
                    </div>
                    <div>
                        <input type="submit" value="Confirmar Linea" formaction="/ejercicio13/guardarLinea"/>
                        <input type="submit" value="Volver" formaction="/ejercicio13/volverLinea"/>
                    </div>
                </form>
    </body>
    <misscripts>
        
    </misscripts>
</html>
