<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Visualizacion de facturas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:object="${factura}">
            <form method="post" >
                <input type="submit" value="Ver todas Facturas" formaction="/ejercicio13/consultaFacturas"/>
                <input type="submit" value="Baja factura" formaction="/ejercicio13/eliminarFactura"/>
                <input type="submit" value="Confirmar factura" formaction="/ejercicio13/altaFactura"/>
                <input type="text" readonly="" th:field="*{id}"/>
                <div>
                    <label for="idFactura">Identificador Factura:</label>
                    <input type="text" th:field="*{idFactura}"/>
                </div>
                <div>
                    <label for="nombreEmpresa">Empresa: </label>
                    <input type="text" th:field="*{nombreEmpresa}"/>
                </div>
                <div>
                    <label for="direccion">Direccion: </label>
                    <input type="text" th:field="*{direccion}"/>
                </div>
                <span th:if='${ idFactura == null || "".equals(idFactura) == false  }'> <input type="submit" value="Alta linea" formaction="/ejercicio13/altaFacturaLinea"/> </span>
            </form>

            <div th:each="facturaL:${factura.listaFacturaLineas}"> <!-- facturaLinea-->
                <form method="post">
                    <input type="text" readonly="" name="id" th:value="${facturaL.id}"/>
                    <input type="text" readonly="" name="facturasId" th:value="${facturaL.facturasId}"/>
                    <div>
                        <label for="cantidad"></label>
                        <input type="text" name="cantidad" th:value="${facturaL.cantidad}"/>
                    </div>
                    <div>
                        <label for="descripcion"></label>
                        <input type="text" name="descripcion" th:value="${facturaL.descripcion}"/>
                    </div>
                    <div>
                        <label for="importe"></label>
                        <input type="text" name="importe" th:value="${facturaL.importe}"/>
                    </div>
                    <div>
                        <input type="submit" value="Baja Linea" formaction="/ejercicio13/bajaLinea"/>
                    </div>
                    <div>
                        <input type="submit" value="Modifica linea" formaction="/ejercicio13/modificaLinea"/>
                    </div>
                </form>




            </div>

            <div>
                <label for="totalFinal">Total Final</label>
                <input type="text" th:field="*{totalFinal}"/>
            </div>

        </div>

    </body>
</html>
