<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form action="/ejercicio13/guardarPersona" method="post">
                <input name="numFactura" placeholder="Numero de Factura">
                <input type="date" name="fecha">
                <input name="nombre" placeholder="Nombre">
                <input name="direccion" placeholder="Direccion">
                <input name="nif" placeholder="NIF">
                <input type="submit" value="Añadir">
            </form>
        </div>
    </body>
</html>
