<!DOCTYPE html>
<html lang="en" th:replace="ej11/layout::layout(~{::body}, ~{::misscripts})" xmlns:th="https://www.thymeleaf.org">
<body>
    <div class="container">
        <a class="btn btn-secondary" href="/ej13/editarFactura">Nueva factura</a>
        <table class="table table-striped">
            <tr>
                <th>Empresa</th>
                <th>NIF</th>
                <th>Total</th>
            </tr>
            <tr th:each="factura:${facturas}">
                <td th:text="${factura.empresa}"></td>
                <td th:text="${factura.nif}"></td>
                <td th:text="${factura.total}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/ej13/editarFactura(idFactura=${factura.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{/ej13/borrarFactura(idFactura=${factura.id})}">Borrar</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>