<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="ej05/layout::layout(~{::body},~{::misscripts})">
<body>
<h2>Ranking paises</h2>
<table class="table table-striped">
    <tr>
        <th>Pais</th>
        <th>Oro</th>
        <th>Plata</th>
        <th>Bronce</th>
        <th>Total</th>
    </tr>
    <tr th:each="m:${rankingPais}">
        <td> <a class="list-group-item list-group-item-action" th:data-pais="${m.pais}" onclick="verDetalle(this.getAttribute('data-pais'))" th:text="${m.pais}"></a></td>
        <td> <a class="list-group-item list-group-item-action" th:data-pais="${m.pais}" onclick="verDetalle(this.getAttribute('data-pais'), 'Oro')" th:text="${m.oro}"></a></td>
        <td> <a class="list-group-item list-group-item-action" th:data-pais="${m.pais}" onclick="verDetalle(this.getAttribute('data-pais'), 'Plata')" th:text="${m.plata}"></a></td>
        <td> <a class="list-group-item list-group-item-action" th:data-pais="${m.pais}" onclick="verDetalle(this.getAttribute('data-pais'), 'Cobre')" th:text="${m.cobre}"></a></td>
        <td th:text="${m.oro+m.plata+m.cobre}"></td>
    </tr>
</table>
<h2>Ranking atletas</h2>
<table class="table table-striped">
    <tr>
        <th>Deportista</th>
        <th>Oro</th>
        <th>Plata</th>
        <th>Bronce</th>
        <th>Total</th>
    </tr>
    <tr th:each="m:${rankingDeportista}">
        <td th:text="${m.atleta}"></td>
        <td th:text="${m.oro}"></td>
        <td th:text="${m.plata}"></td>
        <td th:text="${m.cobre}"></td>
        <td th:text="${m.oro+m.plata+m.cobre}"></td>
    </tr>
</table>
</body>
<misscripts>
    <script>
        function verDetalle(pais, medalla){
            $.ajax({
                url:"detalle",
                data:{
                    pais: pais,
                    medalla: medalla
                },
                success: function (html){
                    bootbox.alert({
                        message: html
                    })
                }
            })
        }
    </script>
</misscripts>
</html>