<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Actualizar alumno</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
	<form  th:object="${alumno}" action="updateAlumno" method="post" class="form-group">
		<label>Codigo:</label> <input type="number" th:field="*{codigo}" disabled> <br />
		<label>Nombre:</label> <input type="text" th:field="*{nombre}"> <br />
		<label>Telefono:</label><input type="text" th:field="*{telefono}"><br /> 
		<label>Direccion:</label> <input type="text" th:field="*{direccion}">
		<br /> <input type="submit" class="btn btn-warning"
			value="Actualizar alumno">
	</form>
</body>
</html>