<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
        <div class="container">

            

            <form action="buscar" class="form-inline d-flex col-5 m-3">
                <input class="form-control mr-sm-2 " name='alumno' type="text" placeholder="Ingrese un código o Nombre" >
                <button class="btn btn-outline-primary col-3 mx-2" type="submit"> Buscar <i class="fas fa-search"></i></button>
                
            <a href="/ejercicio3/crud/nuevo" class="btn btn-outline-success">Nuevo</a>
            </form>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Código </th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="a:${alumnos}">
                    <td th:text="${a.codigo}"></td>
                    <td th:text="${a.nombre}"></td>
                    <td th:text="${a.telefono}"></td>
                    <td th:text="${a.direccion}"></td>
                    <td>
                        <a th:href="@{'/ejercicio3/eliminar?codigo='+${a.codigo}}" class="btn btn-outline-danger">Eliminar</a> 
                        <a th:href="@{/ejercicio3/editar/{id}(id = ${a.codigo})}" class="btn btn-outline-warning">Editar</a>
                    </td>
                </tbody>
            </table>
        </div>
        <!-- La solución optima es poner los scripts al final -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
    </body>
</html>
