<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            input{
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <form action='ejercicio03/editar' method="post">
            <div class="row">
                <input id="accion" type="hidden" name="accion" />
                <div class="from-group col-2">
                    <label >Nombre</label>
                    <input class="form-control" name="nombre"/><br/>
                    <label >Teléfono</label>
                    <input class="form-control" name="telefono"/><br/>
                    <label >Dirección</label>
                    <input class="form-control" name="direccion"/><br/>
                </div>
                <div class="col-1 pt-4">
                    <input type="submit" value="Aceptar" onclick="enviarFormulario('ejercicio03/guardar')" class="btn btn-primary "/>
                </div>
            </div>

            <script>
                function enviarFormulario(id) {
                    $("guardar").attr('action', id);
                    $("guardar").submit();
                }
            </script>
    </body>
</html>
