<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            input{
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <form action='/ejercicio03/guardar' th:object="${alumno}" method="post">
            <div class="row">
                <div class="from-group col-2">
                    <input class="form-control" th:field="*{codigo}" th:hidden="hidden"><br/>
                    <label >Nombre</label>
                    <input class="form-control" th:field="*{nombre}"/><br/>
                    <label >Teléfono</label>
                    <input class="form-control" th:field="*{telefono}"/><br/>
                    <label >Dirección</label>
                    <input class="form-control" th:field="*{direccion}"/><br/>
                </div>
                <div class="col-1 pt-4">
                    <input class="btn btn-primary" type="submit" value="Aceptar"/>
                </div>
            </div>
    </body>
</html>
