<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ej03 Formulario</title>
</head>
<body>
    <form action="/ej03/anadirAlumno" method="post" >
        <div>
            <label>Nombre:</label>
            <input type="text">
        </div>
        <div>
            <label>Teléfono:</label>
            <input type="text">
        </div>
        <div>
            <label>Dirección:</label>
            <input type="text">
        </div>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>