<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ej03 Gestión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="row">
        <form class="col-4" action="/ej03/buscarAlumno" method="post">
            <input type="text" name="nombre"/>
            <input type="submit" class="btn btn-primary" value="Buscar">
        </form>
        <a href="/ej03/formulario" class="btn btn-primary col-1"><i class="fa fa-plus" aria-hidden="true"></i>
            Nuevo</a>
    </div>
    <table class="table table-striped">
        <tr>
            <th>código</th>
            <th>nombre</th>
            <th>teléfono</th>
            <th>dirección</th>
            <th>acciones</th>
        </tr>
        <tr th:each="alumno:${alumnos}">
            <td th:text="${alumno.codigo}"></td>
            <td th:text="${alumno.nombre}"></td>
            <td th:text="${alumno.telefono}"></td>
            <td th:text="${alumno.direccion}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/ej03/borrarAlumno/' + ${alumno.codigo}}"><i class="fa fa-trash" aria-hidden="true"></i>
                    Borrar</a>
                <a class="btn btn-secondary" th:href="@{'/ej03/editarAlumno/' + ${alumno.codigo}}"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Editar</a>
            </td>
            <td></td>
        </tr>
    </table>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

</html>