<html xmlns:th="http://www.thymeleaf.org"
      th:fragment='layout(cuerpo)'>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
            .from-group{
                margin-right: 10px;
            }
            .btn{
                height: 38px;
            }
            .nuevo-alumno-input{
                margin-right: 10px;
            }
            .boton-guardar{
                margin-top: 20px;
            }
            .primer-grupo{
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Listado de Alumnos</h1>
        <form action="/controlador/buscar" method="post" class="d-flex">
            <div class="from-group col-2">
                <input class="form-control buscar" name="nombre" placeholder="Ingrese un codigo o Nombre" />
            </div>
            <div class="col-1">
                <button type="submit" value="Buscar" class="btn btn-primary fas fa-search">
                    Buscar
                </button>
            </div> 
            <div class="col-1">
                <a th:onclick="|nuevo()|"  class="btn btn-primary far fa-plus-square">
                    Nuevo
                </a>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alu: ${alumno}">
                    <td class="codigo" th:text = "${alu.codigo}"></td>
                    <td class="nombre" th:text = "${alu.nombre}"></td>
                    <td class="telefono" th:text = "${alu.telefono}"></td>
                    <td class="direccion" th:text = "${alu.direccion}"></td>
                    <td>
                        <a th:href="@{/controlador/remove(codigo=${alu.codigo})}" onclick="confirmar()" class="btn btn-info text-white"><i class="far fa-trash-alt"></i>Eliminar</a>
                        <button th:onclick="|leerHtmlAjax(${alu.codigo})|" class="btn btn-primary" value="Editar"><i class="far fa-edit"></i>Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
         <div class="container">
            <!-- Contenido -->
            <th:block th:include='${cuerpo}'/>
        </div>
            
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script>
            function confirmar() {
                bootbox.confirm({
                    message: "Desea borrarlo?",
                    callback: function () {
                        $("form").attr("action", "remove").submit();
                    }
                });
            }
            
            function nuevo() {
                  $.ajax({
                    url: "añadir", //<--Ejecutamos del contra esta url
                    data: {//<- Parametros ?id=4
                        //id: pId,
                    },
                    success: function (html) {    //<- Nos devuelven la respuesta. 
                        bootbox.dialog({
                            message: html
                        })
                    },
                    error: function (err) {
                        alert('La URL está mal. Código 404')
                    }
                })
            }
            function leerHtmlAjax(aCodigo) {
                $.ajax({
                    url: "edit", //<--Ejecutamos del contra esta url
                    data: {//<- Parametros ?id=4
                        //id: pId,
                        codigo: aCodigo,
                    },
                    success: function (pHtml) {    //<- Nos devuelven la respuesta. 
                        bootbox.dialog({
                            message: pHtml
                        })
                    },
                    error: function (err) {
                        alert('La URL está mal. Código 404')
                    }
                })
            }
        </script>
    </body>
</html>
