<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
</style>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<title>Ejercicio 03 Spring</title>
</head>
<body>
	<div class="container">

		<h1>Listado de Alumnos</h1>
		<form action="/ejercicio3/gestionAlumnos" method="post">
			<div class="row">
				<div class="form-group col-2">
					<input class="form-control" type="text" name="alumno"
						th:value="${alumno}" />
				</div>
				<div class="col-4 ">

					<buton value="Buscar" class="btn btn-primary "> Buscar <i
						class="fas fa-search"></i></buton>
					<buton value="Nuevo" class="btn btn-primary" data-toggle="model"
						data-target="#ventanaModal"> Nuevo <i
						class="fas fa-user-plus"></i></buton>
				</div>

			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Telefono</th>
						<th>Direccion</th>
						<th>Acciones</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="alumno:${listaAlumnos}">

						<td th:text="${alumno.codigo}"></td>
						<td th:text="${alumno.nombre}"></td>
						<td th:text="${alumno.telefono}"></td>
						<td th:text="${alumno.direccion}"></td>

						<td><input type="button" value="Eliminar"
							class="btn btn-danger btn-sm "> <input type="button"
							value="Editar" class="btn btn-info " /></td>
					</tr>

				</tbody>
			</table>
		</form>
	</div>



	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
	<script>
		function dialogo() {
			confirm("hola");
		}
	</script>
</body>
</html>