<html xmlns:th="http://www.thymeleaf.org"
      th:replace='ej03/layout::layout(~{::body})'>
    <head>

    </head>
    <body>
        
        <h1>Listado de Alumnos</h1>
        
        <form action="/controlador/buscarPorNombre" method="post" class="d-flex">
            <div class="from-group col-20">
                <input class="form-control buscar" name="nombre" placeholder="Ingrese un nombre" />
            </div>
            <div class="col-2">
                <button type="submit" value="Buscar" class="btn btn-primary fas fa-search">
                    Buscar
                </button>
            </div> 
            <div class="col-2">
                <a th:onclick="|nuevo()|"  class="btn btn-primary far fa-plus-square">
                    Nuevo
                </a>
            </div>
        </form>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alu: ${alumno}">
                    <td class="codigo" th:text = "${alu.codigo}"></td>
                    <td class="nombre" th:text = "${alu.nombre}"></td>
                    <td class="telefono" th:text = "${alu.telefono}"></td>
                    <td class="direccion" th:text = "${alu.direccion}"></td>
                    <td>
                        <a th:onclick="|confirmar(${alu.codigo})|" class="btn btn-info text-white"><i class="far fa-trash-alt"></i>Eliminar</a>
                        <button th:onclick="|leerHtmlAjax(${alu.codigo})|" class="btn btn-primary" value="Editar"><i class="far fa-edit"></i>Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <script>
            
            function confirmar(codigo) {
                bootbox.confirm({
                    message: "Desea borrarlo?",
                    callback: function () {
                        document.location="remove?codigo=" + codigo;
                    }
                });
            }

            function nuevo() {
                $.ajax({
                    url: "formulario", //<--Ejecutamos del controlador esta url
                    data: {//<- Parametros ?id=4
                        //id: pId,
                    },
                    success: function (html) {    //<- Nos devuelven la respuesta. 
                        bootbox.dialog({
                            message: html
                        })
                    },
                    error: function (err) {
                        alert('La URL está mal. Código 404')
                    }
                });
            }
            function leerHtmlAjax(aCodigo) {
                $.ajax({
                    url: "formulario", //<--Ejecutamos del controlador esta url
                    data: {//<- Parametros ?id=4
                        //id: pId,
                        codigo: aCodigo,
                    },
                    success: function (html) {    //<- Nos devuelven la respuesta. 
                        bootbox.dialog({
                            message: html
                        })
                    },
                    error: function (err) {
                        alert('La URL está mal. Código 404')
                    }
                });
            }
        </script>
    </body>
</html>
