<html xmlns:th="http://www.thymeleaf.org"
      th:replace='ej03/plantilla::plantilla(~{::body})'>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
            i{
                padding-right:15px;
            }
            button{
                width:100px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Listado de Alumnos</h1>
            <form action="/ejercicio3/buscar" method="post">
                <div class="row">
                    <div class="from-group col-3">
                        <input class="form-control" name="codigoNombre" id="codigoNombre" th:value="${codigoNombre}" placeholder="Ingrese un codigo o un nombre" required />
                    </div>
                    <div class="from-group col">
                        <button type="submit" value="Buscar" th:onclick="validar()" class="btn btn-primary "><i class="fas fa-search"></i>Buscar</button>
                        <button type="button" value="Buscar" th:onclick="|nuevo()|" class="btn btn-primary ">Nuevo</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alu: ${alumno}">
                        <td class="codigo" th:text = "${alu.codigo}"></td>
                        <td class="nombre" th:text = "${alu.nombre}"></td>
                        <td class="telefono" th:text = "${alu.telefono}"></td>
                        <td class="direccion" th:text = "${alu.direccion}"></td>
                        <td>
                            <a th:onclick="|confirmar(${alu.codigo})|" class="btn btn-info text-white"><i class="far fa-trash-alt"></i>Eliminar</a>
                         
                            <button th:onclick="|leerHtmlAjax(${alu.codigo})|" class="btn btn-primary" value="Editar"><i class="far fa-edit"></i>Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script>
            function confirmar(codigo) {
                bootbox.confirm({
                    message: "Desea borrarlo?",
                    callback: function (res) {
                        if(res){
                            document.location="borrar?codigo="+codigo;
                        }
                    }
                });
            }
            
            function validar(){
                if($('#codigoNombre').val() == ""){
                    alert('Se necesita un código o un nombre para buscar.');
                }else{
                    
                    $('form').submit();
                }
            }
    
            function nuevo() {
                  $.ajax({
                    url: "nuevo", //<--Ejecutamos del contra esta url
                    data: {//<- Parametros ?id=4
                        //id: pId,
                    },
                    success: function (html) {    //<- Nos devuelven la respuesta. 
                        bootbox.dialog({
                            message: html
                        })
                    },
                    error: function (err) {
                        alert('La URL está mal.')
                    }
                })
            }
            
            function leerHtmlAjax(aCodigo ) {
                $.ajax({
                    url: "editar", //<--Ejecutamos del contra esta url
                    data: {//<- Parametros ?id=4
                        //id: pId,
                        codigo: aCodigo,
                    },
                    success: function (pHtml) {    //<- Nos devuelven la respuesta. 
                        bootbox.dialog({
                            message: pHtml
                        })
                    },
                    error: function (err) {
                        alert('La URL está mal.')
                    }
                })
            }
        </script>
    </body>
</html>