<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de alumnos</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>

	<div th:if="${listaAlumnos.size() == 0}">La tabla esta vacia</div>
	<table th:if="${listaAlumnos.size() > 0}" class="table table-striped">
		<tr>
			<th>Codigo</th>
			<th>Nombre</th>
			<th>Telefono</th>
			<th>Direccion</th>
			<th>Acciones</th>
		</tr>
		<tr th:each="per:${listaAlumnos}">
			<td th:text="${per.codigo}" />
			<td th:text="${per.nombre}" />
			<td th:text="${per.telefono}" />
			<td th:text="${per.direccion}" />
			<td>
			<a th:href="${'/actualizarAlumno?codigo=' + per.codigo}" class="btn btn-success">Actualizar</a>
			<a th:href="${'/deleteAlumno?codigo=' + per.codigo}" class="btn btn-danger">Borrar</a>
			</td>
		</tr>
	</table>

</body>
</html>