<!<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Lista Alumnos</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
        <div class="container">
            
    
            <form action="/ejercicio03/alumnos" method="post" th:object="${alumno}">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            
                                <td><input type="number" th:value="*{codigo}" name="codigo" readonly="readonly"/></td>
                                <td><input type="text" th:value="*{nombre}"  name="nombre" /></td>
                                <td><input type="text" th:value="*{direccion}" name="direccion" /></td>
                                <td><input type="text" th:value="*{telefono}" name="telefono" /></td>
                                
                                <td> <input type="submit" value="Guardar" class="btn btn-primary"/> </td>      
                            
                        </tr>
                    </tbody>
                </table>
            </form>
            
            
        </div>
     
        
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
    </body>
</html>
