<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
        <div class='container' style='text-align: center;'>
            <h1>AGREGAR/EDITAR NUEVO ALUMNO</h1>
        </div>

        <!-- Introducción de alumnos-->
        <div id="intro-alumnos" class="container col-5">
            <form action="/ejercicio3/guardar" th:object="${alumno}" method="post">
                <div class="row">
                    <div class="form-group-group col-12 mt-4">
                        <label>Codigo</label>
                        <input readonly class="form-control" type="text" placeholder="" th:field="*{codigo}"/>
                    </div>
                    <div class="form-group col-12 mt-4">
                        <label>Nombre</label>
                        <input class="form-control" type="text" placeholder="Ingrese el nombre del alumno" th:field="*{nombre}" />
                    </div>
                    <div class="form-group col-12 mt-4">
                        <label>Teléfono</label>
                        <input class="form-control" type="number" placeholder="Ingrese el teléfono del alumno" th:field="*{telefono}" />
                    </div>
                    <div class="form-group col-12 mt-4">
                        <label>Dirección</label>
                        <input class="form-control" type="text" placeholder="Ingrese la dirección del alumno" th:field="*{direccion}" />
                    </div>
                </div>
                <input  type="submit" value="Guardar" class="btn btn-success mt-4"></input>
            </form>

        </div>

        <!-- Scripts JQuery, Bootstrap, Fontawesome -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" ></script>

    </body>
</html>
