<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form action="/ejercicio4/addTarea" method="post">
                <label>Descripcion:</label>
                <input name="descipcion"  placeholder="Descripcion"/>
                <label>Horas Estimadas</label>
                <input name="horasEstimadas"   placeholder="Horas Estimadas"/>
                <button type="submit" class="btn btn-success">Aceptar</button>
            </form>
        </div>
    </body>
</html>
