<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Formulario de Tareas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div class="container">
            <form th:object="${tareas}" action="/ejercicio4/editarhoras" method="post">
                <input type="hidden" th:field="*{codigo}"/><br/>
                <label>Horas trabajadas:</label> <input class="form-control" min="0" type="number" th:field="*{horasTrabajadas}"/><br/>
                <input class="btn btn-primary"  type="submit" value="Enviar"/>
            </form>
        </div>
    </body>
</html>
