<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="ej04/layout::layout(~{::body},~{::misscripts})">
    <body>
        <div class="container" style="margin-top:20px">
            <h1 th:text="'Formulario '+${accion} "></h1>
            <form action="/ejercicio04/guardado" method="post" th:object="${kanbanMiembro}" class="form-group">
                <input type="hidden" th:field="*{codigo}" />
                <input type="hidden" th:value="${accion}" name="accion" />
                <div th:if="${#strings.equals(accion,'editar')}">
                    <label for="descripcion" class="form-label">Descripción:</label><input type="text" class="form-control" th:field="*{descripcion}"/><br/>
                    <label for="horasEstimacion" class="form-label">Horas estimadas:</label><input type="number" class="form-control" th:field="*{horasEstimacion}"/><br/>
                </div>
                <div th:if="${#strings.equals(accion,'asignar')}">
                    <label for="propietario" class="form-label">Persona:</label><input type="text" class="form-control" id="propietario" name="propietario"/><br/>
                </div>
                <div th:if="${#strings.equals(accion,'cambio')}">
                    <label for="horasTrabajadas" class="form-label">Horas trabajadas: </label><input type="number" class="form-control" name="horasTrabajadas" id="horasTrabajadas" th:placeholder="*{horasTrabajadas}" required><br/>
                    <label for="estado" class="form-label">Cambio de estado: </label>
                    Waiting <input type="radio" th:field="*{estado}" value="Waiting">
                    Working <input type="radio" th:field="*{estado}" value="Working">
                    Hecho <input type="radio" th:field="*{estado}" value="Done">
                </div>
                <input type="submit" value="Guardar" class="btn btn-primary"/>


            </form>
        </div>
     
    </body>
    <misscripts>
        
    </misscripts>
</html>
