<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Añadir/Editar Tarea</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/ej04/formEstilos.css">

</head>

<body>
    <div class="container">
        <form th:object="${codigoControlador}" action="/ejercicio4/asignarPropietario" method="post">
            <input type="hidden" class="form-control" th:field="*{codigo}" placeholder="Codigo" />
            <input type="hidden" class="form-control" th:field="*{descripcion}" placeholder="Descripcion" />
            <input class="form-control" th:field="*{propietario}" placeholder="Propietario" />
            <input type="hidden" class="form-control" th:field="*{horasEstimacion}" placeholder="Horas Estimadas" />
            <input type="hidden" class="form-control" th:field="*{horasTrabajadas}" placeholder="Horas Trabajadas" />
            <input type="hidden" class="form-control" th:field="*{estado}" placeholder="Estado" />
            <button class="btn btn-secondary btn-lg">Asignar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
</body>

</html>