<!DOCTYPE html> 
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Proyecto Kanban</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />

        <style>
            div{
                border: 1px solid;
                text-align: center;
            }
        </style>

    </head>

    <body>
        <div class="container">
            <div class="row row-cols-2 row-cols-lg-3">
                <div class="col">Story</div>
                <div class="col">Waiting</div>
                <div class="col">Done</div>

                <div class="col-4 col-lg-2"></div>
                <div class="col-4 col-lg-2"></div>
                <div class="col-4 col-lg-2">Waiting</div>
                <div class="col-4 col-lg-2">Working</div>
                <div class="col-4 col-lg-2"></div>
                <div class="col-4 col-lg-2"></div>
            </div>
        </div>
    </body>

    <!-- La solución optima es poner los scripts al final -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
</html>