<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/united/bootstrap.min.css"> -->
        <style>



            .container {
                text-align: center;
                width: 90% !important;

            }
            .azul{
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                border-left: 6px solid #45ABCD;
            }

            .naranja{
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                border-left: 6px solid #FEAF20;
            }
            .rojo{
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                border-left: 6px solid #D73814;
            }

        </style>
        <title>Probando Kanban</title>
    </head>
    <body >
        <div class="container">
            <!--cabecera Kanban-->
            <div>
                <div class="row">
                    <div class="col-3"><p>RoadMap</p></div>
                    <div class="col-6">
                        <div class="row col-12">
                            <p>WORKING</p>
                            <div class="col-6"><p>Waiting</p></div>
                            <div class="col-6"><p>Working</p></div>
                        </div>
                    </div>
                    <div class="col-3"><p>Done</p></div>
                </div>
            </div>

            <!--Fin cabecera Kanban-->
            <!--cuerpo-->
            <!--Añadir tarea-->
            <div class="row">
                <div class="col-12">
                    <button type="button" data-bs-toggle="modal" onClick="nuevaTarea()"data-bs-target="#modal"class="btn btn-light m-3"><i class="far fa-plus-square"></i>Añadir Tarea </button>
                </div>
            </div>
            <!--fin div añadir tarea-->

            <div class="cuerpo">
                <div class="row">
                    <div class="col-3">
                        <div th:each="tarea:${tareaRoadmap}" 
                             th:class="${tarea.horasTrabajadas <= tarea.horasEstimacion} ? 'azul m-2' : 
                             (${tarea.horasTrabajadas > tarea.horasEstimacion*2} ? 'rojo m-2' : 'naranja m-2')" >
                            <div th:include="::card(${tarea.getCodigo()},${tarea.getDescripcion()},${tarea.getPropietario()},${tarea.getHorasEstimacion()},${tarea.getHorasTrabajadas()},${tarea.getEstado()})">
                            </div>
                        </div>

                    </div>

                    <div class="col-3">
                        <div class="card card bg-light m-2" th:each="tarea:${tareaWaiting}" th:class="${tarea.horasTrabajadas <= tarea.horasEstimacion} ? 'azul m-2' : 
                             (${tarea.horasTrabajadas > tarea.horasEstimacion*2} ? 'rojo m-2' : 'naranja m-2')" >

                            <div th:include="::card(${tarea.getCodigo()},${tarea.getDescripcion()},${tarea.getPropietario()},${tarea.getHorasEstimacion()},${tarea.getHorasTrabajadas()},${tarea.getEstado()})">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card card bg-light m-2" th:each="tarea:${tareaWorking}" th:class="${tarea.horasTrabajadas <= tarea.horasEstimacion} ? 'azul m-2' : 
                             (${tarea.horasTrabajadas > tarea.horasEstimacion*2} ? 'rojo m-2' : 'naranja m-2')" >
                            <div th:include="::card(${tarea.getCodigo()},${tarea.getDescripcion()},${tarea.getPropietario()},${tarea.getHorasEstimacion()},${tarea.getHorasTrabajadas()},${tarea.getEstado()})">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div th:each="tarea:${tareaDone}" th:class="${tarea.horasTrabajadas <= tarea.horasEstimacion} ? 'azul m-2' : 
                             (${tarea.horasTrabajadas > tarea.horasEstimacion*2} ? 'rojo m-2' : 'naranja m-2')" >

                            <div th:include="::card(${tarea.getCodigo()},${tarea.getDescripcion()},${tarea.getPropietario()},${tarea.getHorasEstimacion()},${tarea.getHorasTrabajadas()},${tarea.getEstado()})">
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>



        <!-- FRAGMENT poner th include para el display:none -->
        
        <div th:fragment="card(codigo,descripcion,propietario,horasEstimacion,horasTrabajadas,estado)" style="display:none">
            <div class="card" style="max-width: 18rem;"> 
                <div style="max-width: 18rem;">
                    <div class="card-body">    

                        <p class="card-text" th:text="${descripcion}"> </p> 

                        <form action="/asignarPersona" method="get">
                            <input name="codigo" th:value="${codigo}" type="hidden">                                   
                            <div class="input-group">
                                <span class="input-group-addon m-2" ><i class="far fa-user-circle"></i></span>
                                <select name="persona" onchange="this.form.submit()" class="form-select mb-3">
                                    <option selected>Asigne una persona</option>
                                    <option th:selected="(${propietario} == Pepe)" value="Pepe">Pepe</option>
                                    <option th:selected="(${propietario} == Paco)" value="Paco">Paco</option>
                                    <option th:selected="(${propietario} == Jose)" value="Jose">Jose</option>
                                </select>
                            </div>   
                        </form>


                        <div class="row">
                            <div class="col-7">
                                <p class="card-text"> <i class="far fa-clock"></i>Horas estimadas </p> 
                            </div>
                            <div class="col-5">
                                <input type="text" readOnly th:value="${horasEstimacion}" class="form-control mb-3">                              
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-7">
                                <p class="card-text"> <i class="far fa-clock"></i>Horas trabajadas </p>
                            </div>
                            <div class="col-5">
                                <form action="/horasTrabajadas" method="get">
                                    <input name="codigo" th:value="${codigo}" type="hidden"> 

                                    <input name="horasTrabajadas" readOnly th:value="${horasTrabajadas}" class="form-control mb-3"> 
                                </form>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-7">
                                <p class="card-text"> Imputar horas </p> 
                            </div>
                            <div class="col-5">
                                <form action="/horasTrabajadas" method="get">
                                    <input name="codigo" th:value="${codigo}" type="hidden"> 

                                    <input name="horasTrabajadas"  onchange="this.form.submit()"class="form-control"> 
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <form action="/cambiarEstado" method="get">
                            <input name="codigo" th:value="${codigo}" type="hidden"> 
                            <div class="input-group">
                                <span class="input-group-addon m-2" ><i class="fas fa-tasks"></i></span>
                                <select name="estado" onchange="this.form.submit()" class="form-select mb-3">

                                    <option th:selected="(${estado} == Roadmap)" value="Roadmap">Roadmap</option>
                                    <option th:selected="(${estado} == Waiting)" value="Waiting">Waiting</option>
                                    <option th:selected="(${estado} == Working)" value="Working">Working</option>
                                    <option th:selected="(${estado} == Done)" value="Done">Done</option>
                                </select>
                            </div>
                        </form>
                        <!-- button para editar tarea -->
                        <Button th:attr="onclick=|editar('${codigo}')|" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-info mb-2"> <i class="far fa-edit"></i> Editar Tarea</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- fin fragmento -->





        <!-- formulario para nueva y añadir tarea -->

        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="form" action="/nuevaTarea" method="post"> 
                        <div class="modal-body">  
                            <div class="row">

                                <div class="col-12">
                                    <div class="input-group mb-2">
                                        <input type="text" name="codigo" hidden class= "form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label for="descripcion">Descripción de la tarea</label>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-2">
                                        <textarea class="form-control" name="descripcion" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="horasEstimadas">Horas estimadas</label>
                                </div>
                                <div class="col-12">
                                    <div class="input-group mb-2">
                                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        <input type="text" name="horasEstimacion" required class= "form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-info">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>

        <script>

                                    function editar(datos) {
                                        $.ajax({
                                            url: "leerKanban",
                                            data: {
                                                codigo: datos,
                                            },
                                            datatype: 'json'
                                            ,
                                            success: function (tarea) {
                                                $('#modal').modal('show');
                                                $('#modal form').deserialize(tarea);
                                            },
                                            error: function (err) {
                                                alert('Si la URL esta mal. Codigo 404')
                                            }
                                        })
                                        $('#form').attr('action', "/editarTarea");
                                    }

        </script>

    </body>
</html>
