<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <style>
            .tarjeta{
                width:350px;
                height: 300px;
                padding: 5px 5px;
                border: 1px solid black;
                float: left;
                margin-right: 10px;
                background-color: greenyellow;
            }
            .doble{
                background-color: red; 
            }
            .mayor{
                background-color: orange;
            }

        </style>
    </head>
    <body>
        <div><a type="button" class="btn btn-primary btn-sm" href="/ejercicio4/addForm">Crear Tarea</a></div>
        <div class="container" th:each="t:${listaTareas}">
            <!--            <div class="tarjeta" th:classappend="${t.horasTrabajadas * 2 >= t.horasEstimacion} ? doble: mayor " >-->
            <div class="tarjeta">
                <a class="btn btn-primary btn-sm" th:href="@{/ejercicio4/buscarPorCodigo(codigo=${t.codigo})}"><i class="far fa-edit"></i></a>
                <a class="btn btn-success btn-sm" th:href="@{/ejercicio4/buscarPorCodigo(codigo=${t.codigo})}"><i class="fas fa-user-plus"></i></a>
                <a class="btn btn-warning btn-sm" th:href="@{/ejercicio4/buscarPorCodigo(codigo=${t.codigo})}"><i class="far fa-clock"></i></a>
                <a class="btn btn-info btn-sm" th:href="@{/ejercicio4/buscarPorCodigo(codigo=${t.codigo})}"><i class="fab fa-font-awesome-flag"></i></a>
                <div th:text="${t.descripcion}"> </div> 
                <div th:text="${t.horasEstimacion}"> </div>
                <div th:text="${t.propietario}"> </div>
            </div>
        </div>
         <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>                       
    </body>
</html>


