<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
        <style>
            .tarjeta{
                width:250px;
                height: 200px;
                padding: 5px 5px;
                border: 1px solid black;
                float: left;
                margin-right: 10px;
            }
        </style>
    </head>
    <body>
        <a type="button" class="btn btn-primary" href="/ejercicio4/addForm">Crear Tarea</a>
        <div class="container" th:each="t:${listaTareas}">
            <div class="tarjeta" th:text="${t}">
                <a class="btn btn-primary" th:href="@{/contrlador/ejercicio4/modificar(codigo=${})}"
            </div>
        </div>
    </body>
</html>
