<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Tareas Kanban</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <style>
            td div{
                padding: 10px;
                margin: 15px;
                border: 1px solid;

            }


            .naranja{
                background-color: orange;
            }
            .verde{
                background-color: green;
                color:white;
            }
            .rojo{
                background-color: red;
                color:white;
            }
        </style>
    </head>
    <body>
        <div class="container ">
            <table class="w-100 text-center" border="1" width="1">
                <thead>
                    <tr >
                        <th class="p-3" rowspan="2">Story</th>                    
                        <th class="p-3" colspan="2">Waiting</th>
                        <th class="p-3" rowspan="2">Done</th>
                    </tr><tr>
                        <th class="p-3">Waiting</th>
                        <th class="p-3">Working</th></tr>

                    </tr>
                </thead>
                <tbody>
                    <!-- 
     private String codigo; //Se generará al azar al insertar. UUID.randomUUID().toString();
     private String descripcion; //Descripcion de la tarea
     private String propietario; //Persona que está realizando esta tarea.
     private Integer horasEstimacion; //Tiempo estimado en la tarea. Opcional
     private Integer horasTrabajadas; //Tiempo de trabajo en la tarea. 
     private String estado; //Roadmap (Pensada), Waiting (Se hace en breve), Working (Realizandose), Done (Finalizada). 
                    
                     <tr th:each="t:${tareas}">
                     <td  th:if="${t.estado == 'Roadmap'}"  th:text="${t.descripcion}"></td>
                     <td th:if="${t.estado == 'Waiting'}"  th:text="${t.estado}"></td>
                     <td th:if="${t.estado == 'Working'}"  th:text="${t.descripcion}"></td>
                     <td th:if="${t.estado == 'Done'}"  th:text="${t.descripcion}"></td>
                       
                     </tr>
                    --> 
                    <!--    /**
       * Gestiona una lista de tareas.
       * Colores:
       *    Si horas estidadas + 1.2 < horas trabajadas -> rojo
       *    Si horas estidadas < horas trabajadas -> naranja
       *    Si horas estidadas >= horas trabajadas -> verde
       */-->

                    <tr class="align-baseline">
                        <td id="roadmap">
                            <a class=" d-flex justify-content-end mx-3 mt-2 text-decoration-none" onclick="nuevaTareaAjax()" >+ Añadir tarea</a>
                            <div class="card-body" th:classappend="|${(t.horasEstimacion*2)<t.horasTrabajadas ? 'rojo' : ''}
                                 ${(t.horasEstimacion)<t.horasTrabajadas ? 'naranja' : ''}
                                 ${(t.horasEstimacion)>=t.horasTrabajadas ? 'verde' : ''}
                                 |" th:each="t:${tareas}" th:if="${t.estado == 'Roadmap'}" >
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; Editar &nbsp;</a> 
                                <a class="float-right rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarEstadoAjax(this.getAttribute('codigo'),'Waiting')">&nbsp; <i class="fas fa-arrow-right"></i> &nbsp;</a> 
                                <!-- <a class="float-right rounded text-dark bg-light text-decoration-none " th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; -> &nbsp;</a> 
                                <a class="float-right rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; Modificar horas &nbsp;</a> 
                                <a class="float-right rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; Cambiar nombre &nbsp;</a> 
                                -->
                                <br>

                                <h5 class="card-title"  th:codigo="${t.codigo}"  th:onclick="modificarNombreAjax(this.getAttribute('codigo'))"> <span  th:text="${t.propietario}"></span> <i class="fas fa-user-edit text-primary"></i></h5> 
                                <p class="card-text" th:text="${t.descripcion}"></p>
                                <p class="card-text"><i class="fas fa-user-clock text-white mr-2" th:codigo="${t.codigo}" th:onclick="modificarHorasTrabajadasAjax(this.getAttribute('codigo'))"></i><small class="text-white" th:text="|${t.horasTrabajadas}h/${t.horasEstimacion}h|"></small></p>

                            </div>
                        </td>
                        <td id="waiting">
                            <a class=" d-flex justify-content-end mx-3 mt-2 text-decoration-none" onclick="nuevaTareaAjax()" >+ Añadir tarea</a>
                            <div class="card-body" th:classappend="|t.horasTrabajadas != null && ${(t.horasEstimacion*2)<t.horasTrabajadas ? 'rojo' : ''}
                                 ${(t.horasEstimacion)<t.horasTrabajadas ? 'naranja' : ''}
                                 ${(t.horasEstimacion)>=t.horasTrabajadas ? 'verde' : ''}
                                 |" th:each="t:${tareas}" th:if="${t.estado == 'Waiting'}" >
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; Editar &nbsp;</a> 
                                <a class="float-right rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarEstadoAjax(this.getAttribute('codigo'),'Working')">&nbsp; <i class="fas fa-arrow-right"></i> &nbsp;</a> 
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarEstadoAjax(this.getAttribute('codigo'),'Roadmap')">&nbsp; <i class="fas fa-arrow-left"></i> &nbsp;</a> 
                                <br>
                                <h5 class="card-title"  th:codigo="${t.codigo}"  th:onclick="modificarNombreAjax(this.getAttribute('codigo'))"> <span  th:text="${t.propietario}"></span> <i class="fas fa-user-edit text-primary"></i></h5> <p class="card-text" th:text="${t.descripcion}"></p>
                                <p class="card-text"><i class="fas fa-user-clock text-white mr-2" th:codigo="${t.codigo}" th:onclick="modificarHorasTrabajadasAjax(this.getAttribute('codigo'))"></i><small class="text-white" th:text="|${t.horasTrabajadas}h/${t.horasEstimacion}h|"></small></p>

                            </div>


                        </td>
                        <td id="working">
                            <a class=" d-flex justify-content-end mx-3 mt-2 text-decoration-none" onclick="nuevaTareaAjax()" >+ Añadir tarea</a>                      
                            <div class="card-body" th:classappend="|${(t.horasEstimacion*2)<t.horasTrabajadas ? 'rojo' : ''}
                                 ${(t.horasEstimacion)<t.horasTrabajadas ? 'naranja' : ''}
                                 ${(t.horasEstimacion)>=t.horasTrabajadas ? 'verde' : ''}
                                 |" th:each="t:${tareas}" th:if="${t.estado == 'Working'}" >
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; Editar &nbsp;</a> 
                                <a class="float-right rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarEstadoAjax(this.getAttribute('codigo'),'Done')">&nbsp; <i class="fas fa-arrow-right"></i> &nbsp;</a> 
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarEstadoAjax(this.getAttribute('codigo'),'Waiting')">&nbsp; <i class="fas fa-arrow-left"></i> &nbsp;</a> 
                                <br>
                                <h5 class="card-title"  th:codigo="${t.codigo}"  th:onclick="modificarNombreAjax(this.getAttribute('codigo'))"> <span  th:text="${t.propietario}"></span> <i class="fas fa-user-edit text-primary"></i></h5>
                                <p class="card-text" th:text="${t.descripcion}"></p>
                                <p class="card-text"><i class="fas fa-user-clock text-white mr-2" th:codigo="${t.codigo}" th:onclick="modificarHorasTrabajadasAjax(this.getAttribute('codigo'))"></i><small class="text-white" th:text="|${t.horasTrabajadas}h/${t.horasEstimacion}h|"></small></p>


                            </div>

                        </td>
                        <td id="done">
                            <a class=" d-flex justify-content-end mx-3 mt-2 text-decoration-none" onclick="nuevaTareaAjax()" >+ Añadir tarea</a>
                            <div class="card-body" th:classappend="|${(t.horasEstimacion*2)<t.horasTrabajadas ? 'rojo' : ''}
                                 ${(t.horasEstimacion)<t.horasTrabajadas ? 'naranja' : ''}
                                 ${(t.horasEstimacion)>=t.horasTrabajadas ? 'verde' : ''}
                                 |" th:each="t:${tareas}" th:if="${t.estado == 'Done'}" >
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarTareaAjax(this.getAttribute('codigo'))">&nbsp; Editar &nbsp;</a> 
                                <a class="float-left rounded text-dark bg-light text-decoration-none mr-2" th:codigo="${t.codigo}"  th:onclick="modificarEstadoAjax(this.getAttribute('codigo'),'Working')">&nbsp; <i class="fas fa-arrow-left"></i> &nbsp;</a> 
                                <br>
                                <h5 class="card-title"  th:codigo="${t.codigo}"  th:onclick="modificarNombreAjax(this.getAttribute('codigo'))"> <span  th:text="${t.propietario}"></span> <i class="fas fa-user-edit text-primary"></i></h5><p class="card-text" th:text="${t.descripcion}"></p>
                               <p class="card-text"><i class="fas fa-user-clock text-white mr-2" th:codigo="${t.codigo}" th:onclick="modificarHorasTrabajadasAjax(this.getAttribute('codigo'))"></i><small class="text-white" th:text="|${t.horasTrabajadas}h/${t.horasEstimacion}h|"></small></p>

                            </div>


                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>
        <script>
                                function modificarTareaAjax(pCodigo) {
                                    $.ajax({
                                        url: "formulario", //<--Ejecutamos del contra esta url
                                        data: {//<- Parametros ?id=4
                                            codigo: pCodigo
                                                    //nombre: 'Ana',
                                                    //wrw: 'rwr',
                                        },
                                        success: function (pHtml) {    //<- Nos devuelven la respuesta. 
                                            bootbox.dialog({
                                                message: pHtml
                                            });
                                        },
                                        error: function (err) {
                                            alert('Si la URL esta mal. Codigo 404');
                                        }
                                    });
                                }

                                function modificarNombreAjax(pCodigo) {
                                    $.ajax({
                                        url: "formularioNombre", //<--Ejecutamos del contra esta url
                                        data: {//<- Parametros ?id=4
                                            codigo: pCodigo
                                                    //nombre: 'Ana',
                                                    //wrw: 'rwr',
                                        },
                                        success: function (pHtml) {    //<- Nos devuelven la respuesta. 
                                            bootbox.dialog({
                                                message: pHtml
                                            });
                                        },
                                        error: function (err) {
                                            alert('Si la URL esta mal. Codigo 404');
                                        }
                                    });
                                }
                                
                                function modificarHorasTrabajadasAjax(pCodigo) {
                                    $.ajax({
                                        url: "cambiarHorasTrabajadas", //<--Ejecutamos del contra esta url
                                        data: {//<- Parametros ?id=4
                                            codigo: pCodigo
                                                    //nombre: 'Ana',
                                                    //wrw: 'rwr',
                                        },
                                        success: function (pHtml) {    //<- Nos devuelven la respuesta. 
                                            bootbox.dialog({
                                                message: pHtml
                                            });
                                        },
                                        error: function (err) {
                                            alert('Si la URL esta mal. Codigo 404');
                                        }
                                    });
                                }

                                function modificarEstadoAjax(pCodigo, pEstado) {
                                    $.ajax({
                                        url: "cambiarEstado", //<--Ejecutamos del contra esta url
                                        data: {//<- Parametros ?id=4
                                            codigo: pCodigo,
                                            estado: pEstado
                                                    //wrw: 'rwr',
                                        }, success: function () {
                                            location.reload();
                                        }
                                        ,
                                        error: function (err) {
                                            alert('Si la URL esta mal. Codigo 404');
                                        }
                                    });
                                }

                                function nuevaTareaAjax() {
                                    $.ajax({
                                        url: "formularioNuevo", //<--Ejecutamos del contra esta url
                                        data: {//<- Parametros ?id=4
                                            //codigo: pCodigo
                                            //nombre: 'Ana',
                                            //wrw: 'rwr',
                                        },
                                        success: function (pHtml) {    //<- Nos devuelven la respuesta. 
                                            bootbox.dialog({
                                                message: pHtml
                                            });
                                        },
                                        error: function (err) {
                                            alert('Si la URL esta mal. Codigo 404');
                                        }
                                    });
                                }


        </script>

    </body>
</html>
