<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">

            <form action="/ejercicio4/modificarDescripcion" method="post">
                <label>Codigo:</label>
                <input name="codigo"  th:value="${tarea.codigo}" readonly />
                <label>Descripcion:</label>
                <input th:value="${tarea.descripcion}" name="descripcion"  />
                <label>Propietario:</label>
                <input name="propietario"   th:value="${tarea.propietario}" />
                <label>Horas Estimadas</label>
                <input name="horasEstimacion" th:value="${tarea.horasEstimacion}"   />
                <label>Horas Trabajadas</label>
                <input name="horasTrabajadas" readonly th:value="${tarea.horasTrabajadas}" />
                <label>Estado:</label>
                <input name="estado" readonly th:value="${tarea.estado}" />
                <button type="submit" class="btn btn-success">Aceptar</button>
            </form>
        </div>
    </body>
</html>
