<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>


</style>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.0/vapor/bootstrap.min.css" />

<title>Ejercicio03Spring</title>
</head>
<body>
<div class="contenedor">
           <div class="container-fluid">
            <div class="row align-items-center text-center cabecera">
                <div class="col-md-4 ">Story
                </div>
                <div class="col-md-4">
                    <div class="row cabecera">
                        <div class="col-md-12">Waiting
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 cabecera">Waiting
                        </div>
                        <div class="col-md-6 cabecera">Working
                        </div>
                    </div>
                </div>
                <div class="col-md-4">Done
                </div>
            </div>
            <div class="row align-items-center text-center">
                <div class="col-md-4 cabecera">
                    <button class="btn btn-secondary btn-sm" >A&ntilde;adir tarea</button>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                </div>
            </div>
           </div>
          </div>




	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>
	<script>
		
	</script>
</body>
</html>