<html xmlns:th="https://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Gestor imagenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <style>
            .fas{
                color:purple;
            }
            .card img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            a {
                text-decoration: none;
                color: black;
                             
            }
        </style>
    </head>
    <body> 
        <div th:fragment="cuerpo">

           

            <form action="/gestorImagenes/filtrar" method="get">
                <div class="row">
                    <div class="col-4">
                        <a th:href="@{/gestorImagenes/mostrarTodo}">
                        <h1 class="display-6"> <i class="fas fa-fan m-3"></i> <b>Guugle</b>Fotos </h1>
                        </a>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="input-group col-2">
                            <div class="input-group-text"><i class="fas fa-search"></i></div>
                            <input type="text" name="descripcion" placeholder="Buscar imagen" class="form-control"  />
                        </div>
                    </div>
                    <div class="col-1 mt-4">
                        <input type="submit" class="btn btn-primary" value="Filtrar" />
                    </div>
                </div>
            </form>
            <hr/>




        </div>

        <form action="/gestorImagenes/subir" th:object="${imagen}" method="post"  enctype="multipart/form-data" > 
            <div class="row form-group ">
                <div class="col-1">
                    <label for="descripción" class="col-form-label" required>Descripción</label>
                </div>
                <div class="col-3">
                    <input class="form-control" th:field="*{descripcion}" placeholder="Inserte una descripción"> 
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input type="file" name="fichero" class="form-control" >
                        <input type="submit" class="btn btn-outline-primary" value="Enviar" >
                    </div>
                </div>
            </div>
        </form>






    <myscripts th:fragment="scripts">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>
    </myscripts>

</body>
</html>
