<html xmlns:sec="http://www.thymeleaf.org"
    th:replace="ejte/layout/LayoutPrincipal::layout(~{::body} )">
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        <p>El texto que queramos</p>
                
        <p>El texto que queramos de nuevo</p>

         <p>probando</p>

        <input type="button" class="btn btn-primary" value="pulsar">
        <p>teeeexto</p>
    </body>
</html>
