<!DOCTYPE html>
<html lang="en" th:replace="ej11/layout::layout(~{::body})" xmlns:th="https://www.thymeleaf.org">
<body>
    <div class="container">
        <form th:object="${imagen}" action="/ej11/subir" method="post" enctype="multipart/form-data">
            <label>Descripcion:</label>
            <input type="text" th:field="*{descripcion}"/></br>
            <label>Fichero</label>
            <input type="file" name="fichero"/></br>
            <input type="submit" value="Subir fichero"/>
        </form>
    </div>
</body>
</html>