<html xmlns:th="https://www.thymeleaf.org" th:replace="ej11/layout::layout( ~{::body})">
    <head>
        <title>Galeria de imagenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    </head>
    <body>

        <div class=" m-2">
            <div class="row">             

                <form action="/ejercicio11/subir" method="post" enctype="multipart/form-data" >
                    <span class="m-1">Descripcion</span><input class="m-1" name="descripcion" placeholder="Descripcion" required />
                    <span class="m-1">Fichero</span> <input  class="m-1" type="file" name="fichero" accept=".jpg" /><br/><br/>
                    <button type="submit" class="btn btn-dark" value="Subir Fichero"><i class="fas fa-arrow-circle-up"><span style="margin-left: 5px">Subir Archivo</span></i> </button>
                    <a type="button" class="btn btn-secondary" href="/ejercicio11/verImagenes" ><i class="fas fa-book-open"><span style="margin-left: 5px">Tu Galeria</span></i></a>
                </form>
                <div style="color: red" th:if="${error!=null}" th:text="${error}"></div>
                <div style="color: green" th:if="${success!=null}" th:text="${success}"></div> 
            </div>
        </div>
    </body>
</html>
