<html xmlns:th="https://www.thymeleaf.org">
    <head th:include="ej11/layout/plantilla::head">
    </head>
    <body> 
      <div th:include="ej11/layout/plantilla::cuerpo">
        </div>
        <form action="/gestorImagenes/subir" th:object="${imagen}" method="post"  enctype="multipart/form-data" > 
            <div class="row form-group ">
                <div class="col-1">
                    <label for="descripción" class="col-form-label" required>Descripción</label>
                </div>
                <div class="col-3">
                    <input class="form-control" th:field="*{descripcion}" placeholder="Inserte una descripción"> 
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input type="file" name="fichero" class="form-control" >
                        <input type="submit" class="btn btn-outline-primary" value="Enviar" >
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-5"> 
            <div th:each="img:${imagenes}" class="col-3">
                <div class="card ">
                    <img th:src="@{/gestorImagenes/descargar(nAleatorio=${img.ruta}, descripcion=${img.descripcion})}" th:alt="${img.nombre}" width="100%" class="card-img-top"/>
                    <div class="card-body">
                        <h5 th:text="${img.nombre}" class="card-title"></h5>
                        <p th:text="${img.descripcion}" class="card-text"> </p>
                        <a th:href="@{/gestorImagenes/borrar(nAleatorio=${img.ruta})}" class="btn btn-outline-primary"> Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="ej11/layout/plantilla::scripts">
        </div>

    </body>
</html>
