<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Gestión de Imágenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />
    </head>
    <body>
        <span th:each="imagen:${imagenes}">
            <img th:src="@(/ejercicio11/descarga(imagen))" /><br/>
        </span>
    </body>
</html>
