<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Gestión de Imágenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" referrerpolicy="no-referrer" />

        <style>
            label{
                margin: 5px;
            }
            input{
                margin: 5px;
            }
            .form-control{
                width: 500px;
            }
            .btn-primary{
                margin: 5px;
                margin-left: 15px;
            }

        </style>
    </head>

    <body>
        <label>Descripción</label>
        <input class="form-control" type="text"/>

        <label>Fichero</label>
        <button type="button" class="btn btn-secondary ">Seleccionar archivo</button><br>
        
        <button type="button" class="btn btn-primary ">Subir fichero</button>
    </body>
</html>