<html th:fragment="layout(cuerpo)">
    <head>
        <link rel="stylesheet" href="style.css" type="text/css"/>

        <title>Galeria de imagenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container justify-content-center bg-light text-dark">
            <h1 class="display-3">Galeria de imagenes</h1>
            <p class="lead">Guarda tus imagenes favoritas</p>
            <hr class="my-4">
            <div class="container" th:include="${cuerpo}">
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery-deserialize@2.0.0-rc1/src/jquery.deserialize.min.js"></script>  
            <script>
            function verImagen(imagen){
                bootbox.dialog({
                    message:$("<img>").attr('src', $(imagen).attr('src')).attr('width', '100%').attr('style','border-radius:5px'),
                    size:'large',
                    centerVertical: true,
                    closeButton: false, 
                    buttons: {
                        cancel:{
                            className: "btn btn-danger",
                            label: "Cerrar",
                            }}
                   
                });
            }
        </script>
        </div>   
    </body>
</html>
