<html xmlns:th="https://www.thymeleaf.org" th:replace="ej11/layout::layout( ~{::body})">
    <head>
        <title>Galeria de imagenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <form action="/ejercicio11/buscar" method="post">
                <div class="row">
                    <input class="col-4 m-1" placeholder="Filtrar" name="descripcion"/>
                    <button  type="submit" class="btn btn-primary m-1" ><i class="fas fa-filter"><span style="margin-left: 3px">Filtrar</span></i></button>
                    <a  type="button" class="btn btn-dark m-1" href="/ejercicio11/galeria" ><i class="fas fa-undo"><span style="margin-left:5px">Volver</span></i></a>
                </div>
            </form>        
            <div th:each="img:${imagenes}" class="col-4  d-inline float-left">
                <img class="rounded m-1" th:src="${'/ejercicio11/descarga?aleatorio='+img.aleatorio}" width="300px" height="200px" onclick="verImagen(this)" />
                    <!--<a type="button" class="btn btn-primary btn-sm" th:href="${'/ejercicio11/abrir?Id='+ img.Id}" >Abrir</a>
                    <a type="button" class="btn btn-success btn-sm" th:href="${'/ejercicio11/descarga?aleatorio='+ img.aleatorio}" >Descargar</a>-->
                    <a type="button" class="btn btn-dark btn-sm" th:href="${'/ejercicio11/eliminar?Id='+ img.Id}"><i class="far fa-trash-alt" ><span style="margin-left:5px">Borrar</span></i></a>                  
            </div>
        </div>   
        
    </body>
</html>
