<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Titulo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">         
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <style>
            body{
                margin-top:20px;
            }

        </style>
    </head> 
    <body>

        <div class="container">
            <form action="/ejercicio11/subir" method="post" enctype="multipart/form-data">
                <label>Descripcion : </label>
                <input type="text" name="descripcion"/> <br> <br>

                <label>Fichero : </label>
                <input type="file" name="fichero"/><br> <br>

                <button type="submit" class="btn btn-primary">Subir fichero</button>
            </form>


            <br>
            <h1>IMAGENES</h1>


            <input type="text" name="filtrar" placeholder="Filtrar"/>
            <input class="btn btn-primary" type="submit" name="buscar" value="Buscar">

            <br>     
            <br> 
          
            <img th:src="${'/ejercicio11/download?aleatorio='}" />
            
         

        </div>
        <hr/>



    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

    <script>




    </script>
</html>
