<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <style>
             .custom {
                width: 150px !important;
             }
        </style>
    </head>
    <body>
        <div class="container pt-5 px-5">
            <h3>Calculadora</h3>
            <form action="/ejercicio2/sumar" method="post">
                <div class="row">
                    <div class="from-group col-2">
                        <label >Valor 1</label>
                        <input class="form-control" type="number" name="valor1" th:value="${valor1}" min="-99999" max="99999"/>
                    </div>
                    <div class="from-group col-2 ">
                        <label >Valor 2</label>
                        <input class="form-control" type="number" name="valor2" th:value="${valor2}" min="-99999" max="99999"/>
                    </div>

                    <div class="row">       
                        <div class="from-group col-auto m-2 pt-3 ">
                            <input type="submit" value="Sumar" class="btn btn-primary custom "/>  
                        </div>
                        <div class="from-group col-auto m-2 pt-3 ">
                            <input type="button" value="restar" onclick="restar()" class="btn btn-primary custom"/>
                        </div>
                        <div class="from-group col-auto m-2 pt-3">
                            <input type="button" value="multiplicar" onclick="multiplicar()" class="btn btn-primary custom "/>
                        </div>                   
                        <div class="from-group col-auto m-2 pt-3 ">
                            <input type="button" value="division" onclick="division()" class="btn btn-primary custom "/>
                        </div>

                        <div class="from-group col-auto">
                            <label>Resultado</label>
                            <input class="form-control" type="number" disabled th:value="${resultado}"/>
                        </div>                  
                    </div>
                    <div class="alert alert-danger col-6" role="alert" th:if="${error}" th:text="${error}" ></div>
                    <a th:href=${"/ejercicio2/calculadora"}>Volver al inicio</a>
                    
                    
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

        <script>
                                function restar() {
                                    $("form").attr("action", "/ejercicio2/restar").submit();
                                }
                                ;

                                function multiplicar() {
                                    $("form").attr("action", "/ejercicio2/producto").submit();
                                }
                                ;

                                function division() {
                                    $("form").attr("action", "/ejercicio2/division").submit();
                                }
                                ;

        </script>
    </body>
</html>

