<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <script>
              function accionEnvio(operacion){
                $('#accion').val(operacion);
                $('form').submit();        
            }
        </script>
        
    </head>
    <body>
        <div class="container">
            <h3>Calculadora</h3>
            <form action="calcular" method="post">
                <div class="row">
                    <div class="from-group col-2">
                        <label >Numero A</label>
                        <input class="form-control" name="A" th:value="${A}" type="number"/>
                    </div>
                    <div class="from-group col-2">
                        <label >Numero B</label>
                        <input class="form-control" name="B" th:value="${B}" type="number"/>
                    </div>

                    <div class="col-2 pt-4">
                        <input type="button" id="boton" name="boton" value="Sumar" onclick="accionEnvio('Sumar')" class="btn btn-primary"/>
                    </div>   
                    <div class="col-2 pt-4">
                        <input type="button" id="boton" name="boton" value="Restar" onclick="accionEnvio('Restar')" class="btn btn-primary"/>
                    </div>   
                    <div class="col-2 pt-4">
                        <input type="button" id="boton" name="boton" value="Multiplicar" onclick="accionEnvio('Multiplicar')" class="btn btn-primary"/>
                    </div>   
                    <div class="col-2 pt-4">
                        <input type="button" id="boton" name="boton" value="Dividir" onclick="accionEnvio('Dividir')" class="btn btn-primary"/>
                    </div>   
                </div>
                <div class="from-group col-2">
                        <label >Resultado</label>
                        <input class="form-control" name="resultado" th:value="${resultado}" type="number"/>
                </div>
                
                
                <input type="hidden" id="accion" name="accion" />
            </form>
            <span th:text="${mensajeErr}" style="color: red"></span>
            <hr/>
            
        </div>
        

        <!-- La solución optima es poner los scripts al final -->
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        <script>
            function confirmar(){
                bootbox.confirm({
                    message:"Desea borrar este nombre?",
                    con
                })
                
            }
            
          
        </script>
    </body>
</html>
