<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css">
    <title>Compra</title>
</head>
<body>
    <div id="formulario">
        <div class="row align-items-center text-center">
            <form class="col-12" id="formu" action="/ejercicio8/comprar" method="POST">
                <p>Vas a comprar acciones del grupo <th:block th:text="${titulo}" /> a un precio de
                    <th:block th:text="${ultimo}" /> la unidad  </p>            
                <label class="col-4">Cantidad a comprar: </label>
                <input type="number" class="col-2" min="1" name="cantidad" id="cantidad"> </input>
                <span class="col-3" id="calcularPrecio"></span> 
                <input type="submit"  value="comprar" class="btn btn-primary col-12"/>
                
                <input type="hidden" name="titulo" th:value="${titulo}" /> 
                <input type="hidden" id="titulo" name="ultimo" th:value="${ultimo}" />  
            </form>
        </div>
    </div>
    <script>
        $("#cantidad").bind('keyup mouseup', function () {
            var totalcost= $("#cantidad").val() * $("#titulo").val(); 
            $("#calcularPrecio").html("Precio total: " +totalcost.toFixed(2));
        })
    </script>
</body>
</html>