<html xmlns:th="http://www.thymeleaf.org"
      th:replace="ej08/layout::plantilla( ~{::body})">
    <head>
        <title>Cotizaciones</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <th:block th:if="${cotiza!=null}">
            <div class="container text-center">
                <h3>Saldo actual: </h3> 
                <span id="saldo" th:text="${saldo}">  </span>
                <hr />
                <h4>Stock actual</h4>
                <table id="listaMovs" class="table table-striped">
                    <thead>
                        <th>Titulo</th>
                        <th>Comprado</th>
                        <th>Cantidad</th>
                        <th>Fecha compra</th>
                        <th>Venta</th>
                        <th>Diferencia</th>
                        <th>Accion</th>
                    </thead>
                    <tbody>
                        <tr th:each="cot:${cotiza}" th:if="${cot.tipoOperacion} == 'Compra'">
                            <th:block th:if="${cot.cantidad}>0">
                                <td th:text="${cot.titulo}" />
                                <td th:text="${cot.precioInicial}" />
                                <td th:text="${cot.cantidad}" />
                                <td th:text="${cot.fechaOperacionInicio}" />
                                <td id="precioVenta"> </td>
                                <td id="calcularDiferencia" />
                                <td>
                                    <button class='btn btn-danger' th:attr="onclick=|venderAjax('${cot.titulo}','${cot.cantidad}', '${cot.id}')|">Vender todo</button>
                                </td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
                    <table id="ventas" class="table table-striped">
                        <thead>
                            <th>Titulo</th>
                            <th>Comprado</th>
                            <th>Vendido</th>
                            <th>Cantidad</th>
                            <th>Fecha Compra</th>
                            <th>Fecha Venta</th>
                            <th>Resultado</th>
                        </thead>
                        <tbody>
                            <tr th:each="cot:${cotiza}" th:if="${cot.tipoOperacion} == 'Venta'">
                                <td th:text="${cot.titulo}" />
                                <td th:text="${cot.precioInicial}" />
                                <td th:text="${cot.precioFinal}" />
                                <td th:text="${cot.cantidad}" />
                                <td th:text="${cot.fechaOperacionInicio}" />
                                <td th:text="${cot.fechaOperacionFinal}" />
                                <td th:text="${#numbers.formatDecimal({(cot.precioFinal - cot.precioInicial) * cot.cantidad}, 1, 'DEFAULT', 2, 'DEFAULT')}" />
                            </tr>
                        </tbody>
                    </table>   
            </div>
        </th:block>

        <table id="listaCot" class="table table-striped">
            
        </table>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>   
        <script>
        </script>
    </body>
</html>
